@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  padding: 50px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  background-color: crimson;
  color: white;
}
table,tr,td,th{
  padding: 15px;
}
*{
  margin: 20px;
}
input{
  background-color: crimson;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}
select,option{
  background-color: crimson;
  color: white;
}
button{
  background-color: crimson;
  color: white;
  border: 1px solid white;
  width: 15vw;
  height: 10vh;
  font-size: 20px;
}
